 * {
    box-sizing: border-box;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
}

.container {
    max-width: 1219px;
    padding: 0 55px;
    margin: 0 auto;

}

.header__top {
    background: #007765; /* green */
    position: fixed;
    height: 84px;
    width: 100%;
    top: 0px;
}


.logo__text {
    position: static;
    float: right;
    color: #ffffff; /* white */
    display: block;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    background-color: #007765;
    padding: 28px 0;
} 

.anchor1,
.anchor2,
.anchor3 {
    text-decoration: none;
    color: #ffffff;
    font-style: normal;
    font-size: 24px;
    font-weight: 500;
}

.logo__text:after {
    display: block;
    clear: both;
}

.logo {
    padding: 21px 0px 18px 50px;
    float: left;
    position: static;
}

.jumbotron {
    background: url(img/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 403px;
    margin-top: 84px;
/*     padding: 160px; */
}

.jumbotron__text {
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    justify-content: center;
    text-align: center;
    padding: 76px;
}

.problem {
    background-color: #EEEEEE;
    line-height: 37.5px;
}

.problem__text,
.PPC__textlogo,
.PPC__text {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
}

h2 {
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-size: 64px;
    color: #007765;
    font-weight: 500;
}

.hero {
    background: url(img/image_hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 483px;
}

.hero__text {
    color: #ffffff;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    justify-content: center;
    text-align: center;
    padding: 76px;
}

.PPC {
    background-color: #ffffff;
    line-height: 37.5px;
}

.PPC__logo {
    float: left;
    margin: 0 48px 35px 0;
}

table {
    width: 100%;
}
    
h4 {
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-size: 24px;
    color: #007765;
    font-weight: bold;
}

td {
    text-align: center;
}

h3 {
    color: #000000;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    justify-content: center;
    text-align: center;
}

.footer {
    background-color: #333333;
}

.footer__text {
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding: 60px;
}
    
